---
import { resolveProseStyle } from '../../lib/resolveProseStyle.js';
import Layout from '../../layouts/Layout.astro';
import EditorialMasthead from '../../components/EditorialMasthead.astro';
import EditorialHero from '../../components/EditorialHero.astro';
import BlogFeed from '../../components/Blogfeed.astro';
import RightRail from '../../components/RightRail.astro';
import MostRead from '../../components/MostRead.astro';


const proseStyle = resolveProseStyle(null, { forcedProseStyle: 'prose-editorial' });

---

<Layout proseStyle={proseStyle} section="editorial">
  <EditorialMasthead />
  <EditorialHero />

  <div class="max-w-7xl mx-auto px-4 py-8 flex flex-col lg:flex-row gap-8">
    <div class="flex-1">
      <BlogFeed />
    </div>
    <RightRail>
        <MostRead />
    </RightRail>
  </div>
</Layout>
