---
import { fetchPosts } from '../lib/fetchPosts.js';
const posts = await fetchPosts();

import { stripHtml } from 'string-strip-html';

function truncateExcerpt(html, wordCount = 30) {
  const clean = stripHtml(html || '').result;
  const words = clean.split(/\s+/).slice(0, wordCount).join(' ');
  return words + '...';
}

---

<ul class="prose prose-editorial max-w-4xl mx-auto">
  {posts.map(post => (
    <li class="flex gap-6 items-start">
      <img
        src={post.featuredImage?.node?.mediaDetails?.sizes?.find(size => size.name === "thumbnail")?.sourceUrl ?? post.featuredImage?.node?.sourceUrl}
        alt=""
        class="w-48 h-48 object-cover rounded mt-0"
      />
      <div class="flex-1">
        <a href={`/blog-post/${post.slug}`} class="text-blue-600 dark:text-white hover:underline">
          <h2 set:html={post.title} class="text-3xl font-semibold mb-1 mt-0 dark:text-white"></h2>
        </a>
        <div class="text-lg text-gray-600 dark:text-white">{truncateExcerpt(post.excerpt)}</div>
      </div>
    </li>
  ))}
</ul>

