  <a id="heading-back">&lt; Return to Start Page</a>
  <h1 id="heading-main">Overall Accident Data</h1>
  <h3 id="heading-sub" style="font-weight: normal; font-style: italic;"></h3>
  <p id="heading-intro">The AOPA Air Safety Institute releases the 34th <em>Richard G. McSpadden Report (formerly the Joseph T. Nall Report)</em> which presents users with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary data is available for later years.
    <br><br>The 34th <i>Richard G. McSpadden Report</i> has been modernized to reflect changes in industry standards. While accident counts remain, the classification system used to denote phase and accident cause has changed. This effort standardizes data with current NTSB reporting and creates future opportunity for wider applications within the AOPA Air Safety Institute.</p>

  <div id="heading-controls-container">
  <div id="heading-controls">
  <p>Break data down by year:</p>
  <select id="nall-select-year">
  <option value="">- Select a Year -</option>
  <option value="2008">2008</option>
  <option value="2009">2009</option>
  <option value="2010">2010</option>
  <option value="2011">2011</option>
  <option value="2012">2012</option>
  <option value="2013">2013</option>
  <option value="2014">2014</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
  <option value="2017">2017</option>
  <option value="2018">2018</option>
  <option value="2019">2019</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  </select>
  <!--
  <div id="heading-control-links">
  <a class="heading-control" href="?category=all&year=2018&condition=all&report=true"><img class="heading-control-icon" src="-/media/Images/test/Nall/NallReport.svg">30th NALL Report</a>
  <a class="heading-control" href="?category=all&year=2019&condition=all&report=true"><img class="heading-control-icon" src="-/media/Images/test/Nall/NallReport.svg">31st NALL Report</a>
  <a class="heading-control" href="?category=all&year=2020&condition=all&report=true"><img class="heading-control-icon" src="-/media/Images/test/Nall/NallReport.svg">32nd NALL Report</a>
  </div>
  -->
  <div id="report-archive-block">
  Report Archive:
  <select id="report-archive-select">
  <option value="">Select link from list...</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2022&condition=all&report=true">34th Nall Report (2022 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2021&condition=all&report=true">33rd Nall Report (2021 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2020&condition=all&report=true">32nd Nall Report (2020 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2019&condition=all&report=true">31st Nall Report (2019 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2018&condition=all&report=true">30th Nall Report (2018 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2017&condition=all&report=true">29th Nall Report (2017 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/richard-g-mcspadden-report/mcspadden-report-figure-view?category=all&year=2016&condition=all&report=true">28th Nall Report (2016 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/27thNallReport2018.pdf">27th Nall Report (2015 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/26thNallReport2017.PDF">26th Nall Report (2014 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/25thNallReport.pdf">25th Nall Report (2013 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Pilot-Resources/Safety-and-Proficiency/Accident-Analysis/Nall-Report/15-FN-0022-1-24th-Nall-V6.pdf">24th Nall Report (2012 accidents)</option>
  <option value="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/joseph-t-nall-report/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/2012nall">23rd Nall Report (2011 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/11nall.pdf">22nd Nall Report (2010 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/10nall.pdf">21st Nall Report (2009 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/09nall.pdf">20th Nall Report (2008 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/08nall.pdf">19th Nall Report (2007 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/07nall.pdf">18th Nall Report (2006 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/06nall.pdf">17th Nall Report (2005 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/05nall.pdf">16th Nall Report (2004 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/04nall.pdf">15th Nall Report (2003 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/03nall.pdf">14th Nall Report (2002 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/02nall.pdf">13th Nall Report (2001 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/01nall.pdf">12th Nall Report (2000 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/00nall.pdf">11th Nall Report (1999 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/99nall.pdf">10th Nall Report (1998 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/98nall.pdf">9th Nall Report (1997 accidents)</option>
  <option value="https://www.aopa.org/-/media/Files/AOPA/Home/Training-and-Safety/Nall-Report/97nall.pdf">8th Nall Report (1996 accidents)</option>
  </select>
  </div>



  </div>
  <div class="heading-buttons" id="heading-buttons-category">
      <a class="heading-button heading-button-category" data-category="all" data-hasconditions="false">All</a>
      <a class="heading-button heading-button-category" data-category="ncfw" data-hasconditions="true">Non-Commercial Fixed Wing</a>
      <a class="heading-button heading-button-category" data-category="cfw" data-hasconditions="false">Commercial Fixed Wing</a>
      <a class="heading-button heading-button-category" data-category="nch" data-hasconditions="false">Non-Commercial Helicopter</a>
      <a class="heading-button heading-button-category" data-category="ch" data-hasconditions="false">Commercial Helicopter</a>
      <a class="heading-button heading-button-category" data-category="se" data-hasconditions="false">Sport/Experimental</a>
  </div>
  <div class="heading-buttons" id="heading-buttons-conditions">
    <a class="heading-button heading-button-condition" data-conditions="preflight">Preflight & Taxi</a>
    <a class="heading-button heading-button-condition" data-conditions="takeoff">Takeoff &amp; Climb</a>
    <a class="heading-button heading-button-condition" data-conditions="enroute">Enroute</a>
    <a class="heading-button heading-button-condition" data-conditions="maneuvering">Maneuvering</a>
    <a class="heading-button heading-button-condition" data-conditions="descent">Descent & Approach</a>
    <a class="heading-button heading-button-condition" data-conditions="landing">Landing</a>
    <a class="heading-button heading-button-condition" data-conditions="mechanical">Mechanical</a>
    <a class="heading-button heading-button-condition" data-conditions="fuel">Fuel</a>
    <a class="heading-button heading-button-condition" data-conditions="weather">Weather</a>
    <a class="heading-button heading-button-condition" data-conditions="other">Other</a>
  </div>
  </div>