<div id="reportTextYear-2022"> <!--
  <p class="override-intro">The AOPA Air Safety Institute releases the 34th Richard G. McSpadden Report (formerly the Joseph T. Nall Report) which presents users with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary data is available for later years.
  <br><br>The 34th <i>Richard G. McSpadden Report</i> has been modernized to reflect changes in industry standards. While accident counts remain, the classification system used to denote phase and accident cause has changed. This effort standardizes data with current NTSB reporting and creates future opportunity for wider applications within the AOPA Air Safety Institute.</p>
-->
  <div class="reportText" id="reportText-intro">
    <h2>General Overview</h2>
    <p>The year 2022 saw an increase in total accidents (1,152) of which 181 were fatal. The overall accident rate rose slightly while the fatal accident rate continued trending downward, finishing with a total accident rate of 4.30 per 100,000 hours and a fatal accident rate of 0.68 per 100,000 hours. A large increase in flight activity helped mitigate increases in accidents. Overall, flight activity increased by more than 500,000 hours in 2022.</p>
  </div>
  <div class="reportText" id="reportText-intro-ncfw">
    <h2>Non-Commercial Fixed-Wing</h2>
    <p>Non-commercial fixed-wing aircraft had 965 total accidents of which 157 were fatal (figure 1.1). With overall accidents (965) trending upward—following a large increase in flight activity for this category—the accident rate (4.84) trended downward (figures 1.2 and 1.3). Non-commercial fixed-wing aircraft showed a decrease in fatal accidents (157), with the fatal accident rate falling (0.79) helped by increased flight activity (figures 1.2 and 1.3). The percentage of pilot-related accidents remained around 70 percent (figure 1.4).</p>
    <p>Pilot-related accidents consisted of 708 total of which 117 accidents were fatal. Landing accidents still accounted for the largest number (346) but thankfully suffered few fatal accidents (figure 1.11). Loss of control on ground (136) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that could not be classified into a meaningful phase of flight, but were reasonably inferred based on NTSB report data, fell into the “other and unknown” accident category. As more NTSB accidents are classified this category will shrink and those accidents will be placed in their respective areas. Takeoff and climb accidents (212) fell from the previous year (figure 1.3.1). The largest number of accidents (53) were loss of control in flight (LOC-I) (figure 1.3.2), followed by engine powerplant failure (39). Fuel management (100) rose slightly from the previous year (figure 1.4.1), with starvation (35) slightly ahead of exhaustion (34) (figure 1.4.2). Maneuvering accidents decreased in both total (64) and fatal (31) from the previous year (figure 1.5.1). LOC-I had 20 accidents of which 18 were fatal (figure 1.5.2). Descent and approach accidents rose sharply to 146 (figure 1.6.1), with LOC-I (42) as the largest cause (figure 1.6.2). Weather accidents decreased in total (21) and fatal (11) accidents (figure 1.7.1). VFR into IMC led the cause category with 10 accidents of which all were fatal (figure 1.7.2). New to this year’s report, en route accidents (146) decreased (figure 1.9.1), with engine powerplant failure (48) as the leading cause (1.9.2). Preflight and taxi (40) remained flat (figure 1.10.1).</p>
    <p>Mechanical-related accidents decreased in total (181) and had a small decrease in fatal accidents (21) from the previous year (figure 1.8.1). Loss of engine power (total) (60) continued to lead, followed by partial power loss (34) and system component failure non-powerplant (26), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
  </div>
  <div class="reportText" id="reportText-intro-cfw">
    <h2>Commercial Fixed-Wing</h2>
    <p>Commercial fixed-wing accidents comprised 63 accidents, nine of which were fatal (figure 2.1). The overall accident rates rose slightly for total accidents (1.52) and fell slightly for fatal accidents (0.22) from the previous year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by four total accidents and five additional fatal accidents.</p>
  </div>
  <div class="reportText" id="reportText-intro-nch">
    <h2>Non-Commercial Helicopter</h2>
    <p>Non-commercial helicopter had 82 accidents, 11 of which were fatal (figure 3.1). The majority of all accidents remained pilot-related. The fatal accident rate fell to 0.87, while the total accident rate decreased slightly to 6.48 (figure 3.4). Loss of control in flight and on ground, other, and abnormal runway contact accidents made up the largest categories (figure 3.9).</p>
  </div>
  <div class="reportText" id="reportText-intro-ch">
    <h2>Commercial Helicopter</h2>
    <p>Commercial helicopter had a total of 43 accidents of which six were fatal (figure 4.1). The majority were pilot-related followed by other/unknown (figure 4.2). The fatal accident rate fell to 0.4 and the total accident rate (2.85) rose from the previous year (figure 4.4). Part 133 had three accidents, Part 135 had 21 accidents (three were fatal), and Part 137 had 19 accidents of which two were fatal (figure 4.5).</p>
  </div>
</div>

<div id="reportTextYear-2021"> 
  <p class="override-intro">The AOPA Air Safety Institute releases its 33rd Accident Report (formerly the Joseph T. Nall Report) which presents users with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary data is available for later years. </p>
  <div class="reportText" id="reportText-intro">
    <h2>General Overview</h2>
    <p>The year 2021 saw an increase in total accidents (1,124) of which 202 were fatal. The overall total and fatal accident rates for 2021 continued trending downward, finishing with a total accident rate of 4.28 per 100,000 hours and a fatal accident rate of 0.77 per 100,000 hours. A large increase in flight activity helped mitigate increases in accidents. Overall, flight activity rose from 22.4 million hours in 2020 to 26.4 million hours in 2021. </p>
  </div>
  <div class="reportText" id="reportText-intro-ncfw">
    <h2>Non-Commercial Fixed-Wing</h2>
    <p>Non-commercial fixed-wing aircraft had 938 total accidents of which 166 were fatal (figure 1.1). With overall accidents (938) trending upward—following a large increase in flight activity for this category—the accident rate (4.87) trended downward (figures 1.2 and 1.3). Non-commercial fixed-wing aircraft showed an increase in fatal accidents (166), with the fatal accident rate falling (0.86) helped by increased flight activity (figures 1.2 and 1.3). The percentage of pilot-related accidents remained around 70 percent (figure 1.4).</p>
    
    <p>Pilot-related accidents consisted of 647 total of which 103 accidents were fatal. Landing accidents still accounted for the largest number (290) but thankfully suffered few fatal accidents (figure 1.11). Loss of control (147) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary data, fell into the “other and unknown” accident category. As more NTSB accidents are classified this category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents (119) fell from the previous year (figure 1.3.1). The largest number of accidents (43) were loss of control (LOC) (figure 1.3.2), followed by stalled or settled on takeoff (30). Fuel management (70) rose slightly from the previous year (figure 1.4.1), with systems operations accounting for the largest total number of accidents (40) (figure 1.4.2). Maneuvering accidents increased in both total (48) and fatal (31) from the previous year (figure 1.5.1). Stall/LOC had 23 accidents of which 18 were fatal (figure 1.5.2). Descent and approach accidents decreased to 43 (figure 1.6.1), with collisions (16) as the largest cause (figure 1.6.2). Weather accidents increased in total (30) and fatal (24) accidents (figure 1.7.1). VFR into IMC led the cause category with 12 accidents of which 11 were fatal (figure 1.7.2). </p>
    
    <p>Mechanical-related accidents increased in total (151) and had a small decrease in fatal accidents (12) from the previous year (figure 1.8.1). Powerplant issues (57) continued to lead, followed by gear and brakes (34), and fuel system (23), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
  </div>
  <div class="reportText" id="reportText-intro-cfw">
    <h2>Commercial Fixed-Wing</h2>
    <p>Commercial fixed-wing accidents comprised 61 accidents, 14 of which were fatal (figure 2.1). The overall accident rates fell substantially for total accidents (1.43) and slightly for fatal accidents (0.33) from the previous year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by three total accidents and two additional fatal accident.</p>
  </div>
  <div class="reportText" id="reportText-intro-nch">
    <h2>Non-Commercial Helicopter</h2>
    <p>Non-commercial helicopter had 87 accidents, 17 of which were fatal (figure 3.1). The majority of all accidents remained pilot-related. The fatal accident rate rose to 1.32, while the total accident rate spiked to 6.75 (figure 3.4). Rotorcraft aerodynamics, maneuvering, and mechanical accidents made up the largest categories (figure 3.9).</p>
  </div>
  <div class="reportText" id="reportText-intro-ch">
    <h2>Commercial Helicopter</h2>
    <p>Commercial helicopter had a total of 38 accidents of which six were fatal (figure 4.1). The vast majority were pilot-related followed by mechanical (figure 4.2). The fatal accident rate fell to 0.41 and the total accident rate (2.59) declined slightly from the previous year (figure 4.4). Part 133 had seven accidents, Part 135 had nine accidents (two were fatal), and Part 137 had 22 accidents of which four were fatal (figure 4.5).</p>
  </div>
</div>

<div id="reportTextYear-2020">
  <p class="override-intro">The AOPA Air Safety Institute releases the 32nd <em>Joseph T. Nall Report</em>, presenting
  users with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the
  current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so
  only preliminary data is available for later years.</p>
  <div class="reportText" id="reportText-intro">
    <h2>General Overview</h2>
    <p>The year 2020 saw a decrease in total accidents (1051), of which 187 were fatal. The overall total and fatal accident rates for 2020 saw a downward trend finishing with a total accident rate of 4.69 per 100,000 hours and a fatal accident rate of 0.83 per 100,000 hours. A large drop in accidents helped mitigate a substantial decrease in flight activity. Overall, flight activity fell from 25.5 million hours in 2019 to 22.4 million hours in 2020. </p>
  </div>
  <div class="reportText" id="reportText-intro-ncfw">
    <h2>Non-Commercial Fixed-Wing</h2>
    <p>Non-commercial fixed-wing aircraft had 892 total accidents, of which 156 were fatal (figure 1.1). With overall accidents (892) trending downward, following a large decrease in flight activity, for this category, the accident rate (5.27) trended downward (figures 1.2 and 1.3). Non-commercial fixed-wing showed a decrease in fatal accidents (156), with the fatal accident rate falling (0.92) even with the decreased flight activity (figures 1.2 and 1.3). The percentage of pilot-related accidents remains around 70 percent (figure 1.4).</p>
    
    <p>Pilot-related accidents consisted of 612 total, of which 79 accidents were fatal. Landing accidents still accounted for the largest number (305), but thankfully suffered few fatal accidents (figure 1.11). Loss of control (137) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary data, fell into the other and unclassified accident category. As more NTSB accidents are classified this category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents (130) rose from the previous year (figure 1.3.1). The largest number of accidents (53) were loss of control (figure 1.3.2), followed by stalled or settled on take-off (36). Fuel management (58) dropped slightly from the previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (38) (figure 1.4.2). Maneuvering accidents decreased in both total (39) and fatal (16) from the previous year (figure 1.5.1). Stall/LOC had 18 accidents, of which 11 were fatal (figure 1.5.2). Descent and approach accidents increased (45) while fatal accidents (24) rose sharply from the previous year (figure 1.6.1). Stall/spin and collisions (17) had the same number of accidents while stalls/spins lead in fatal accidents (13) (figure 1.6.2). Weather accidents declined in total (23) and fatal (17) accidents (figure 1.7.1). VFR into IMC led the cause category with 11 accidents, of which 9 were fatal (figure 1.7.2). </p>
    
    <p>
    Mechanical decrease in total accidents (153) and had a small decrease in fatal accidents (14) from the previous year (figure 1.8.1). Powerplant issues (77) continued its lead, followed by gear and brakes (33), and fuel system (26), which accounted for the majority of mechanical accidents (figure 1.8.2).
    </p>
  </div>
  <div class="reportText" id="reportText-intro-cfw">
    <h2>Commercial Fixed-Wing</h2>
    <p>Commercial fixed-wing accidents comprised 67 accidents, 13 of which were fatal (figure 2.1). The overall accident rates rose substantially for total accidents (2.17) and for fatal accidents (0.42) from the previous year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by 13 total accidents and one additional fatal accident.</p>
  </div>
  <div class="reportText" id="reportText-intro-nch">
    <h2>Non-Commercial Helicopter</h2>
    <p>Non-commercial helicopter had 62 accidents, 13 of which were fatal (figure 3.1). The majority of all accidents remained pilot-related. Total accidents decreased to 62, and 13 were fatal (figure 3.3). The fatal accident rate, rose slightly to 0.99, while the total accident rate decreased to 4.72 (figure 3.4). Accidents still awaiting a final cause, not yet assigned, and rotorcraft aerodynamics made up the largest categories (12) (figure 3.9).</p>
  </div>
  <div class="reportText" id="reportText-intro-ch">
    <h2>Commercial Helicopter</h2>
    <p>Commercial helicopter had a total of 30 accidents, of which seven were fatal (figure 4.1). The vast majority (60 percent) were pilot-related followed by other/unknown (27 percent), and mechanical (11 percent) (figure 4.2). The fatal accident rate stabilized at 0.64, the total accident rate (2.74) declined slightly from the previous year (figure 4.4). Part 133 had 11 accidents (four were fatal), Part 135 had nine accidents (one was fatal), and Part 137 had nine accidents, of which two were fatal (figure 4.5).</p>
  </div>
</div>
  
<div id="reportTextYear-2019">
    <p class="override-intro">The AOPA Air Safety Institute releases the 31st <em>Joseph T. Nall Report</em>, presenting
      users
      with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the
      current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so
      only preliminary data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2019 saw a decrease in total accidents (1,169), of which 212 were fatal. The overall total and fatal
        accident rates for 2019 saw an upward trend finishing with a total accident rate of 4.88 per 100,000 hours and a
        fatal accident rate of 0.88 per 100,000 hours. The main driver for accident rate increases was fewer flight
        hours in fixed-wing aircraft compared to the previous year.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 988 total accidents, of which 179 were fatal (figure 1.1). With overall
        accidents (988) trending downward, a decrease in flight activity, for this category, nudged the accident rate
        (5.62) upward (figures 1.2 and 1.3). Non-commercial fixed-wing showed a slight increase in fatal accidents
        (179), with the fatal accident rate (1.02) rising due to decreased flight activity (figures 1.2 and 1.3). The
        percentage of pilot-related accidents, again, fell below 70 percent (figure 1.4). However, this trend tends to
        shift as accidents reports are completed.</p>
      <p>Pilot-related accidents consisted of 614 total, of which 88 accidents were fatal. Landing accidents still
        accounted for the largest number (308), but thankfully suffered few fatal accidents (figure 1.11). Loss of
        control (163) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that
        could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary
        data, fell into the other and unclassified accident category. As more NTSB accidents are classified this
        category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents
        (115) declined from the previous year (figure 1.3.1). The largest number of accidents (39) were loss of control
        (figure 1.3.2), followed by stalled or settled on take-off (38). Fuel management (58) dropped slightly from the
        previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (32)
        (figure 1.4.2). Maneuvering accidents increased in both total (36) and fatal (20) from the previous year (figure
        1.5.1). Stall/LOC had 22 accidents, of which 12 were fatal (figure 1.5.2). Descent and approach accidents
        decreased sharply (34) while fatal accidents (11) dropped from the previous year (figure 1.6.1). Collisions (16)
        had the most accident while stalls/spins (11) lead in fatal accidents (6) (figure 1.6.2). Weather accidents rose
        slightly in total (34) and fatal (30) accidents (figure 1.7.1). VFR into IMC led the cause category with 19
        accidents, of which 18 were fatal (figure 1.7.2).</p>
      <p>Mechanical increased in total accidents (194) and had a small increase in fatal accidents (15) from the
        previous year (figure 1.8.1). Powerplant issues (132) continued its lead, followed by gear and brakes (27), and
        airframe (15), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing accidents comprised 57 accidents, 10 of which were fatal (figure 2.1). The overall
        accident rates decrease for total accidents (1.68) but increased for fatal accidents (0.30) from the previous
        year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4).
        Part 137 surpassed Part 135 accidents by 13 total accidents and paralleled fatal accidents with five in each
        part.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 81 accidents, 14 of which were fatal (figure 3.1). The majority of all accidents
        remained pilot-related. Total accidents decreased slightly to 81, and 14 were fatal (figure 3.3). The fatal
        accident rate, declined to 0.98, while the total accident rate decreased to 5.68 (figure 3.4). Accidents still
        awaiting a final cause, not yet assigned, made up the largest category (35); while rotorcraft aerodynamics (15)
        continues to lead known accident categories (figure 3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 43 accidents, of which nine were fatal (figure 4.1). The vast majority (60
        percent) were pilot-related followed by other/unknown (27 percent), and mechanical (11 percent) (figure 4.2).
        The fatal accident rate increased for its third straight year to 0.57, the total accident rate (2.74) rose
        sharply from the previous year (figure 4.4). Part 133 had four accidents (two were fatal), Part 135 had 14
        accidents (six were fatal), and Part 137 had 25 accidents, of which one was fatal (figure 4.5).</p>
    </div>
  </div>
   <div id="reportTextYear-2018">
    <p class="override-intro">The release of the AOPA Air Safety Institute’s 30th <em>Joseph T. Nall Report</em> offers
      several enhancements and brings data into the 21st century, presenting users with near real-time accident analysis
      updated on a rolling 30-day cycle. Using the drop-down menu below, you can view data from 2008 to the current
      year. Next to the drop-down menu are two links, one for the 29th Joseph T. Nall Report and one for the 30th.
      Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary
      data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2018 saw an increase in total accidents (1,224), of which 199 were fatal. The overall total and fatal
        accident rates for 2018 continued its downward trend finishing with a total accident rate of 4.56 per 100,000
        hours and a fatal accident rate of 0.74 per 100,000 hours.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 1,033 total accidents, of which 166 were fatal (figure 1.1). With
        overall accidents (1,033) trending upward, the increase in flight activity tempered the accident rate (5.48)
        (figures 1.2 and 1.3). Non-commercial fixed-wing showed a slight increase in fatal accidents (166), with the
        fatal accident rate (0.88) remaining relatively flat due to increased flight activity (figures 1.2 and 1.3). For
        the first time in several years, the percentage of pilot-related accidents fell below 70 percent (figure 1.4).
        However, this trend is most likely superficial due to incomplete NTSB reports at the time this Nall Report was
        released.</p>
      <p>Pilot-related accidents consisted of 675 total, of which 89 accidents were fatal. Landing accidents still
        accounted for the largest number (322), but thankfully suffered few fatal accidents (figure 1.11). Loss of
        control (177) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that
        could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary
        data, fell into the other and unclassified accident category. As more NTSB accidents are classified this
        category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents
        (111) declined from the previous year (figure 1.3.1). The largest number of accidents (42) were loss of control
        (figure 1.3.2), followed by stalled or settled on take-off (31). Fuel management (56) rose slightly from the
        previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (33)
        (figure 1.4.2). Maneuvering accidents declined in both total (23) and fatal (11) from the previous year (figure
        1.5.1). Wires/structures/terrain had 15 accidents, of which six were fatal (figure 1.5.2). Descent and approach
        accidents increased (58)—setting a 10-year high—while fatal accidents (18) spiked from the previous year marking
        a six-year high (figure 1.6.1). Collisions (21) and stalls/spins (20) tied for total accidents with stalls/spins
        leading in fatal accidents (9) (figure 1.6.2). Weather accidents experienced a decline in both total (23) and
        fatal (21) accidents (figure 1.7.1). VFR into IMC led the cause category with 14 accidents, of which 13 were
        fatal (figure 1.7.2).</p>
      <p>Mechanical rose slightly in total accidents (186) and had a small decrease in fatal accidents (11) from the
        previous year (figure 1.8.1). Powerplant issues (117) continued its lead, followed by gear and brakes (39), and
        fuel systems (16), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing accidents comprised 63 accidents, 10 of which were fatal (figure 2.1). The overall
        accident rates saw a decrease in total accidents (1.75) and fatal accidents (0.28) from the previous year
        (figure 2.3). More than 60 percent of commercial fixed-wing accidents were pilot-related, and 70 percent of all
        fatal accidents within this category were also pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents
        by 17 total accidents and two fatal accidents.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 94 accidents, 17 of which were fatal (figure 3.1). More than 64 percent of all
        accidents were pilot-related, and 82 percent within this category were fatal. Mechanical accounted for 8 percent
        with other/unknown accounting for the remaining 26 percent (figure 3.2). Total accidents increased for the
        second year in a row to 94, and 17 were fatal (figure 3.3). The fatal accident rate, helped mainly by an
        increase in flight activity, declined to 0.58, while the total accident rate decreased to 3.22 (figure 3.4).
        Accidents still awaiting a final cause, not yet assigned, made up the largest category (25) (figure 3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 34 accidents, of which seven were fatal (figure 4.1). The vast majority
        (76 percent) were pilot-related followed by other/unknown (20 percent), and mechanical (3 percent) (figure 4.2).
        The fatal accident rate increased for its second straight year to 0.48, however the total accident rate (2.31)
        decreased from the previous year (figure 4.4). Part 133 had ten accidents (four were fatal), Part 135 had 14
        accidents (two were fatal), and Part 137 had 10 accidents, of which one was fatal (figure 4.5).</p>
    </div>
  </div>
  <div id="reportTextYear-2017">
    <p class="override-intro">The release of the AOPA Air Safety Institute’s 29th <em>Joseph T. Nall Report</em> offers
      several enhancements and brings data into the 21st century, presenting users with near real-time accident analysis
      updated on a rolling 30-day cycle. Using the drop-down menu below, you can view data from 2008 to the current
      year. Next to the drop-down menu are two links, one for the 29th Joseph T. Nall Report and one for the 30th.
      Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary
      data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2017 saw a decrease in total accidents from 2016—1,204 and 1,227, respectively. The overall total and
        fatal accident rates for 2017 continued its downward trend finishing with a total accident rate of 4.81 per
        100,000 hours and a fatal accident rate of 0.76 per 100,000 hours.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 1,002 total accidents, of which 162 were fatal (figure 1.1). With
        overall accidents trending downward, non-commercial fixed-wing showed a spike in fatal accidents (162) and the
        fatal accident rate (0.90) (figures 1.2 and 1.3). As with successive years, 70 percent of accidents were
        pilot-related with mechanical representing approximately 18 percent (figure 1.4).</p>
      <p>Pilot-related accidents consisted of 709 total accidents, of which 128 were fatal. Landing accidents still
        accounted for the largest number (314), but thankfully suffered few fatal events (3) (figure 1.11). However,
        loss of control (170) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents
        that could not be classified into a meaningful phase of flight, but were reasonably inferred based on
        preliminary data, fell into the other and unclassified accident category. The majority (60) were power loss
        (figure 1.2.1), 12 of which were fatal. Takeoff and climb accidents (113) declined from the previous year’s
        spike (figure 1.3.1). The bulk of accidents were loss of control (51) (figure 1.3.2). Fuel management (53) fell
        sharply for its second year in a row (figure 1.4.1), with systems operation accounting for the largest total
        (28) and fatal (3) number of accidents (figure 1.4.2). Maneuvering accidents declined in total (38) but rose in
        fatal (28) from the previous year (figure 1.5.1). Stall/loss of control and wires/structures/terrain both had 15
        accidents, whereas stall/loss of control saw more fatal (12) than wires/structures/terrain (8) accidents (figure
        1.5.2). Descent and approach accidents increased (44) from the previous year while fatal (11) remained flat
        (figure 1.6.1). Collisions (17) consisted of the majority of accidents with stalls/spins (5) having the highest
        fatal accidents. Weather accidents and maneuvering accidents switched place from last year in terms of
        lethality, with weather accidents overtaking maneuvering accidents (76 and 73 percent, respectively). Weather
        accidents experienced a sharp increase in both total (42) and fatal (32) accidents (figure 1.7.1). VFR into IMC
        dominated the cause category with 28 accidents and 22 were fatal (figure 1.7.2).</p>
      <p>Mechanical saw a slight decrease (177) in total accidents and a slight decrease (13) in fatal accidents (figure
        1.8.1). Powerplant issues (75) continued to lead, followed by gear and brakes (39), and fuel systems (39), which
        accounted for the majority of mechanical accidents (figure 1.8.2)</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing comprised 76 accidents, 11 of which were fatal (figure 2.1). The overall rates saw an
        increase in total accidents (2.09) but a decrease in fatal accidents (0.30) (figure 2.3). Roughly 60 percent of
        commercial fixed-wing accidents were pilot-related, and 72 percent of all fatal accidents were also
        pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by four total accidents and one fatal
        accident.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 88 accidents, 13 of which were fatal (figure 3.1). More than 80 percent of all
        accidents were pilot-related, fatal accidents were only pilot-related. Mechanical accounted for 13 percent with
        other/unknown accounting for the remaining percentage (figure 3.2). Total accidents increased for the first time
        in four years to 88 following an increase in fatal accidents to 13 (figure 3.3). The fatal accident rate
        remained flat (0.70), while the total accident rate increased to 4.72 (figure 3.4). Rotorcraft aerodynamics was
        the largest cause of accidents (29) and tied with maneuvering for having the most fatal accidents (4) (figure
        3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 38 accidents, five being fatal (figure 4.1). The majority (73 percent)
        were pilot-related followed by other/unknown (15 percent), and mechanical (10 percent) (figure 4.2). The fatal
        accident rate increased (0.34) along with the total accident rate (2.61) from the previous year (figure 4.4).
        Part 133 had four accidents (two were fatal), Part 135 had 12 accidents (three were fatal), and Part 137 had 22
        accidents, of which zero were fatal (figure 4.5).</p>
    </div>
  </div>
  <div class="reportText" id="reportText-intro-cfw">
    <h2>Commercial Fixed-Wing</h2>
    <p>Commercial fixed-wing accidents comprised 67 accidents, 13 of which were fatal (figure 2.1). The overall accident rates rose substantially for total accidents (2.17) and for fatal accidents (0.42) from the previous year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by 13 total accidents and one additional fatal accident.</p>
  </div>
  <div class="reportText" id="reportText-intro-nch">
    <h2>Non-Commercial Helicopter</h2>
    <p>Non-commercial helicopter had 62 accidents, 13 of which were fatal (figure 3.1). The majority of all accidents remained pilot-related. Total accidents decreased to 62, and 13 were fatal (figure 3.3). The fatal accident rate, rose slightly to 0.99, while the total accident rate decreased to 4.72 (figure 3.4). Accidents still awaiting a final cause, not yet assigned, and rotorcraft aerodynamics made up the largest categories (12) (figure 3.9).</p>
  </div>
  <div class="reportText" id="reportText-intro-ch">
    <h2>Commercial Helicopter</h2>
    <p>Commercial helicopter had a total of 30 accidents, of which seven were fatal (figure 4.1). The vast majority (60 percent) were pilot-related followed by other/unknown (27 percent), and mechanical (11 percent) (figure 4.2). The fatal accident rate stabilized at 0.64, the total accident rate (2.74) declined slightly from the previous year (figure 4.4). Part 133 had 11 accidents (four were fatal), Part 135 had nine accidents (one was fatal), and Part 137 had nine accidents, of which two were fatal (figure 4.5).</p>
  </div>
</div>
  
<div id="reportTextYear-2019">
    <p class="override-intro">The AOPA Air Safety Institute releases the 31st <em>Joseph T. Nall Report</em>, presenting
      users
      with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the
      current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so
      only preliminary data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2019 saw a decrease in total accidents (1,169), of which 212 were fatal. The overall total and fatal
        accident rates for 2019 saw an upward trend finishing with a total accident rate of 4.88 per 100,000 hours and a
        fatal accident rate of 0.88 per 100,000 hours. The main driver for accident rate increases was fewer flight
        hours in fixed-wing aircraft compared to the previous year.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 988 total accidents, of which 179 were fatal (figure 1.1). With overall
        accidents (988) trending downward, a decrease in flight activity, for this category, nudged the accident rate
        (5.62) upward (figures 1.2 and 1.3). Non-commercial fixed-wing showed a slight increase in fatal accidents
        (179), with the fatal accident rate (1.02) rising due to decreased flight activity (figures 1.2 and 1.3). The
        percentage of pilot-related accidents, again, fell below 70 percent (figure 1.4). However, this trend tends to
        shift as accidents reports are completed.</p>
      <p>Pilot-related accidents consisted of 614 total, of which 88 accidents were fatal. Landing accidents still
        accounted for the largest number (308), but thankfully suffered few fatal accidents (figure 1.11). Loss of
        control (163) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that
        could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary
        data, fell into the other and unclassified accident category. As more NTSB accidents are classified this
        category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents
        (115) declined from the previous year (figure 1.3.1). The largest number of accidents (39) were loss of control
        (figure 1.3.2), followed by stalled or settled on take-off (38). Fuel management (58) dropped slightly from the
        previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (32)
        (figure 1.4.2). Maneuvering accidents increased in both total (36) and fatal (20) from the previous year (figure
        1.5.1). Stall/LOC had 22 accidents, of which 12 were fatal (figure 1.5.2). Descent and approach accidents
        decreased sharply (34) while fatal accidents (11) dropped from the previous year (figure 1.6.1). Collisions (16)
        had the most accident while stalls/spins (11) lead in fatal accidents (6) (figure 1.6.2). Weather accidents rose
        slightly in total (34) and fatal (30) accidents (figure 1.7.1). VFR into IMC led the cause category with 19
        accidents, of which 18 were fatal (figure 1.7.2).</p>
      <p>Mechanical increased in total accidents (194) and had a small increase in fatal accidents (15) from the
        previous year (figure 1.8.1). Powerplant issues (132) continued its lead, followed by gear and brakes (27), and
        airframe (15), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing accidents comprised 57 accidents, 10 of which were fatal (figure 2.1). The overall
        accident rates decrease for total accidents (1.68) but increased for fatal accidents (0.30) from the previous
        year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4).
        Part 137 surpassed Part 135 accidents by 13 total accidents and paralleled fatal accidents with five in each
        part.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 81 accidents, 14 of which were fatal (figure 3.1). The majority of all accidents
        remained pilot-related. Total accidents decreased slightly to 81, and 14 were fatal (figure 3.3). The fatal
        accident rate, declined to 0.98, while the total accident rate decreased to 5.68 (figure 3.4). Accidents still
        awaiting a final cause, not yet assigned, made up the largest category (35); while rotorcraft aerodynamics (15)
        continues to lead known accident categories (figure 3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 43 accidents, of which nine were fatal (figure 4.1). The vast majority (60
        percent) were pilot-related followed by other/unknown (27 percent), and mechanical (11 percent) (figure 4.2).
        The fatal accident rate increased for its third straight year to 0.57, the total accident rate (2.74) rose
        sharply from the previous year (figure 4.4). Part 133 had four accidents (two were fatal), Part 135 had 14
        accidents (six were fatal), and Part 137 had 25 accidents, of which one was fatal (figure 4.5).</p>
    </div>
  </div>
   <div id="reportTextYear-2018">
    <p class="override-intro">The release of the AOPA Air Safety Institute’s 30th <em>Joseph T. Nall Report</em> offers
      several enhancements and brings data into the 21st century, presenting users with near real-time accident analysis
      updated on a rolling 30-day cycle. Using the drop-down menu below, you can view data from 2008 to the current
      year. Next to the drop-down menu are two links, one for the 29th Joseph T. Nall Report and one for the 30th.
      Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary
      data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2018 saw an increase in total accidents (1,224), of which 199 were fatal. The overall total and fatal
        accident rates for 2018 continued its downward trend finishing with a total accident rate of 4.56 per 100,000
        hours and a fatal accident rate of 0.74 per 100,000 hours.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 1,033 total accidents, of which 166 were fatal (figure 1.1). With
        overall accidents (1,033) trending upward, the increase in flight activity tempered the accident rate (5.48)
        (figures 1.2 and 1.3). Non-commercial fixed-wing showed a slight increase in fatal accidents (166), with the
        fatal accident rate (0.88) remaining relatively flat due to increased flight activity (figures 1.2 and 1.3). For
        the first time in several years, the percentage of pilot-related accidents fell below 70 percent (figure 1.4).
        However, this trend is most likely superficial due to incomplete NTSB reports at the time this Nall Report was
        released.</p>
      <p>Pilot-related accidents consisted of 675 total, of which 89 accidents were fatal. Landing accidents still
        accounted for the largest number (322), but thankfully suffered few fatal accidents (figure 1.11). Loss of
        control (177) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that
        could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary
        data, fell into the other and unclassified accident category. As more NTSB accidents are classified this
        category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents
        (111) declined from the previous year (figure 1.3.1). The largest number of accidents (42) were loss of control
        (figure 1.3.2), followed by stalled or settled on take-off (31). Fuel management (56) rose slightly from the
        previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (33)
        (figure 1.4.2). Maneuvering accidents declined in both total (23) and fatal (11) from the previous year (figure
        1.5.1). Wires/structures/terrain had 15 accidents, of which six were fatal (figure 1.5.2). Descent and approach
        accidents increased (58)—setting a 10-year high—while fatal accidents (18) spiked from the previous year marking
        a six-year high (figure 1.6.1). Collisions (21) and stalls/spins (20) tied for total accidents with stalls/spins
        leading in fatal accidents (9) (figure 1.6.2). Weather accidents experienced a decline in both total (23) and
        fatal (21) accidents (figure 1.7.1). VFR into IMC led the cause category with 14 accidents, of which 13 were
        fatal (figure 1.7.2).</p>
      <p>Mechanical rose slightly in total accidents (186) and had a small decrease in fatal accidents (11) from the
        previous year (figure 1.8.1). Powerplant issues (117) continued its lead, followed by gear and brakes (39), and
        fuel systems (16), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing accidents comprised 63 accidents, 10 of which were fatal (figure 2.1). The overall
        accident rates saw a decrease in total accidents (1.75) and fatal accidents (0.28) from the previous year
        (figure 2.3). More than 60 percent of commercial fixed-wing accidents were pilot-related, and 70 percent of all
        fatal accidents within this category were also pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents
        by 17 total accidents and two fatal accidents.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 94 accidents, 17 of which were fatal (figure 3.1). More than 64 percent of all
        accidents were pilot-related, and 82 percent within this category were fatal. Mechanical accounted for 8 percent
        with other/unknown accounting for the remaining 26 percent (figure 3.2). Total accidents increased for the
        second year in a row to 94, and 17 were fatal (figure 3.3). The fatal accident rate, helped mainly by an
        increase in flight activity, declined to 0.58, while the total accident rate decreased to 3.22 (figure 3.4).
        Accidents still awaiting a final cause, not yet assigned, made up the largest category (25) (figure 3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 34 accidents, of which seven were fatal (figure 4.1). The vast majority
        (76 percent) were pilot-related followed by other/unknown (20 percent), and mechanical (3 percent) (figure 4.2).
        The fatal accident rate increased for its second straight year to 0.48, however the total accident rate (2.31)
        decreased from the previous year (figure 4.4). Part 133 had ten accidents (four were fatal), Part 135 had 14
        accidents (two were fatal), and Part 137 had 10 accidents, of which one was fatal (figure 4.5).</p>
    </div>
  </div>
  <div id="reportTextYear-2017">
    <p class="override-intro">The release of the AOPA Air Safety Institute’s 29th <em>Joseph T. Nall Report</em> offers
      several enhancements and brings data into the 21st century, presenting users with near real-time accident analysis
      updated on a rolling 30-day cycle. Using the drop-down menu below, you can view data from 2008 to the current
      year. Next to the drop-down menu are two links, one for the 29th Joseph T. Nall Report and one for the 30th.
      Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary
      data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2017 saw a decrease in total accidents from 2016—1,204 and 1,227, respectively. The overall total and
        fatal accident rates for 2017 continued its downward trend finishing with a total accident rate of 4.81 per
        100,000 hours and a fatal accident rate of 0.76 per 100,000 hours.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 1,002 total accidents, of which 162 were fatal (figure 1.1). With
        overall accidents trending downward, non-commercial fixed-wing showed a spike in fatal accidents (162) and the
        fatal accident rate (0.90) (figures 1.2 and 1.3). As with successive years, 70 percent of accidents were
        pilot-related with mechanical representing approximately 18 percent (figure 1.4).</p>
      <p>Pilot-related accidents consisted of 709 total accidents, of which 128 were fatal. Landing accidents still
        accounted for the largest number (314), but thankfully suffered few fatal events (3) (figure 1.11). However,
        loss of control (170) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents
        that could not be classified into a meaningful phase of flight, but were reasonably inferred based on
        preliminary data, fell into the other and unclassified accident category. The majority (60) were power loss
        (figure 1.2.1), 12 of which were fatal. Takeoff and climb accidents (113) declined from the previous year’s
        spike (figure 1.3.1). The bulk of accidents were loss of control (51) (figure 1.3.2). Fuel management (53) fell
        sharply for its second year in a row (figure 1.4.1), with systems operation accounting for the largest total
        (28) and fatal (3) number of accidents (figure 1.4.2). Maneuvering accidents declined in total (38) but rose in
        fatal (28) from the previous year (figure 1.5.1). Stall/loss of control and wires/structures/terrain both had 15
        accidents, whereas stall/loss of control saw more fatal (12) than wires/structures/terrain (8) accidents (figure
        1.5.2). Descent and approach accidents increased (44) from the previous year while fatal (11) remained flat
        (figure 1.6.1). Collisions (17) consisted of the majority of accidents with stalls/spins (5) having the highest
        fatal accidents. Weather accidents and maneuvering accidents switched place from last year in terms of
        lethality, with weather accidents overtaking maneuvering accidents (76 and 73 percent, respectively). Weather
        accidents experienced a sharp increase in both total (42) and fatal (32) accidents (figure 1.7.1). VFR into IMC
        dominated the cause category with 28 accidents and 22 were fatal (figure 1.7.2).</p>
      <p>Mechanical saw a slight decrease (177) in total accidents and a slight decrease (13) in fatal accidents (figure
        1.8.1). Powerplant issues (75) continued to lead, followed by gear and brakes (39), and fuel systems (39), which
        accounted for the majority of mechanical accidents (figure 1.8.2)</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing comprised 76 accidents, 11 of which were fatal (figure 2.1). The overall rates saw an
        increase in total accidents (2.09) but a decrease in fatal accidents (0.30) (figure 2.3). Roughly 60 percent of
        commercial fixed-wing accidents were pilot-related, and 72 percent of all fatal accidents were also
        pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by four total accidents and one fatal
        accident.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 88 accidents, 13 of which were fatal (figure 3.1). More than 80 percent of all
        accidents were pilot-related, fatal accidents were only pilot-related. Mechanical accounted for 13 percent with
        other/unknown accounting for the remaining percentage (figure 3.2). Total accidents increased for the first time
        in four years to 88 following an increase in fatal accidents to 13 (figure 3.3). The fatal accident rate
        remained flat (0.70), while the total accident rate increased to 4.72 (figure 3.4). Rotorcraft aerodynamics was
        the largest cause of accidents (29) and tied with maneuvering for having the most fatal accidents (4) (figure
        3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 38 accidents, five being fatal (figure 4.1). The majority (73 percent)
        were pilot-related followed by other/unknown (15 percent), and mechanical (10 percent) (figure 4.2). The fatal
        accident rate increased (0.34) along with the total accident rate (2.61) from the previous year (figure 4.4).
        Part 133 had four accidents (two were fatal), Part 135 had 12 accidents (three were fatal), and Part 137 had 22
        accidents, of which zero were fatal (figure 4.5).</p>
    </div>
  </div>
  <div class="reportText" id="reportText-intro-cfw">
    <h2>Commercial Fixed-Wing</h2>
    <p>Commercial fixed-wing accidents comprised 67 accidents, 13 of which were fatal (figure 2.1). The overall accident rates rose substantially for total accidents (2.17) and for fatal accidents (0.42) from the previous year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by 13 total accidents and one additional fatal accident.</p>
  </div>
  <div class="reportText" id="reportText-intro-nch">
    <h2>Non-Commercial Helicopter</h2>
    <p>Non-commercial helicopter had 62 accidents, 13 of which were fatal (figure 3.1). The majority of all accidents remained pilot-related. Total accidents decreased to 62, and 13 were fatal (figure 3.3). The fatal accident rate, rose slightly to 0.99, while the total accident rate decreased to 4.72 (figure 3.4). Accidents still awaiting a final cause, not yet assigned, and rotorcraft aerodynamics made up the largest categories (12) (figure 3.9).</p>
  </div>
  <div class="reportText" id="reportText-intro-ch">
    <h2>Commercial Helicopter</h2>
    <p>Commercial helicopter had a total of 30 accidents, of which seven were fatal (figure 4.1). The vast majority (60 percent) were pilot-related followed by other/unknown (27 percent), and mechanical (11 percent) (figure 4.2). The fatal accident rate stabilized at 0.64, the total accident rate (2.74) declined slightly from the previous year (figure 4.4). Part 133 had 11 accidents (four were fatal), Part 135 had nine accidents (one was fatal), and Part 137 had nine accidents, of which two were fatal (figure 4.5).</p>
  </div>
</div>
  
<div id="reportTextYear-2019">
    <p class="override-intro">The AOPA Air Safety Institute releases the 31st <em>Joseph T. Nall Report</em>, presenting
      users
      with near real-time accident analysis updated on a rolling 30-day cycle. You can view data from 2008 to the
      current year. Please note that the NTSB takes approximately two years to issue a probable cause statement, so
      only preliminary data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2019 saw a decrease in total accidents (1,169), of which 212 were fatal. The overall total and fatal
        accident rates for 2019 saw an upward trend finishing with a total accident rate of 4.88 per 100,000 hours and a
        fatal accident rate of 0.88 per 100,000 hours. The main driver for accident rate increases was fewer flight
        hours in fixed-wing aircraft compared to the previous year.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 988 total accidents, of which 179 were fatal (figure 1.1). With overall
        accidents (988) trending downward, a decrease in flight activity, for this category, nudged the accident rate
        (5.62) upward (figures 1.2 and 1.3). Non-commercial fixed-wing showed a slight increase in fatal accidents
        (179), with the fatal accident rate (1.02) rising due to decreased flight activity (figures 1.2 and 1.3). The
        percentage of pilot-related accidents, again, fell below 70 percent (figure 1.4). However, this trend tends to
        shift as accidents reports are completed.</p>
      <p>Pilot-related accidents consisted of 614 total, of which 88 accidents were fatal. Landing accidents still
        accounted for the largest number (308), but thankfully suffered few fatal accidents (figure 1.11). Loss of
        control (163) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that
        could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary
        data, fell into the other and unclassified accident category. As more NTSB accidents are classified this
        category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents
        (115) declined from the previous year (figure 1.3.1). The largest number of accidents (39) were loss of control
        (figure 1.3.2), followed by stalled or settled on take-off (38). Fuel management (58) dropped slightly from the
        previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (32)
        (figure 1.4.2). Maneuvering accidents increased in both total (36) and fatal (20) from the previous year (figure
        1.5.1). Stall/LOC had 22 accidents, of which 12 were fatal (figure 1.5.2). Descent and approach accidents
        decreased sharply (34) while fatal accidents (11) dropped from the previous year (figure 1.6.1). Collisions (16)
        had the most accident while stalls/spins (11) lead in fatal accidents (6) (figure 1.6.2). Weather accidents rose
        slightly in total (34) and fatal (30) accidents (figure 1.7.1). VFR into IMC led the cause category with 19
        accidents, of which 18 were fatal (figure 1.7.2).</p>
      <p>Mechanical increased in total accidents (194) and had a small increase in fatal accidents (15) from the
        previous year (figure 1.8.1). Powerplant issues (132) continued its lead, followed by gear and brakes (27), and
        airframe (15), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing accidents comprised 57 accidents, 10 of which were fatal (figure 2.1). The overall
        accident rates decrease for total accidents (1.68) but increased for fatal accidents (0.30) from the previous
        year (figure 2.3). The majority of commercial fixed-wing accidents continued to be pilot-related (figure 2.4).
        Part 137 surpassed Part 135 accidents by 13 total accidents and paralleled fatal accidents with five in each
        part.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 81 accidents, 14 of which were fatal (figure 3.1). The majority of all accidents
        remained pilot-related. Total accidents decreased slightly to 81, and 14 were fatal (figure 3.3). The fatal
        accident rate, declined to 0.98, while the total accident rate decreased to 5.68 (figure 3.4). Accidents still
        awaiting a final cause, not yet assigned, made up the largest category (35); while rotorcraft aerodynamics (15)
        continues to lead known accident categories (figure 3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 43 accidents, of which nine were fatal (figure 4.1). The vast majority (60
        percent) were pilot-related followed by other/unknown (27 percent), and mechanical (11 percent) (figure 4.2).
        The fatal accident rate increased for its third straight year to 0.57, the total accident rate (2.74) rose
        sharply from the previous year (figure 4.4). Part 133 had four accidents (two were fatal), Part 135 had 14
        accidents (six were fatal), and Part 137 had 25 accidents, of which one was fatal (figure 4.5).</p>
    </div>
  </div>
   <div id="reportTextYear-2018">
    <p class="override-intro">The release of the AOPA Air Safety Institute’s 30th <em>Joseph T. Nall Report</em> offers
      several enhancements and brings data into the 21st century, presenting users with near real-time accident analysis
      updated on a rolling 30-day cycle. Using the drop-down menu below, you can view data from 2008 to the current
      year. Next to the drop-down menu are two links, one for the 29th Joseph T. Nall Report and one for the 30th.
      Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary
      data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2018 saw an increase in total accidents (1,224), of which 199 were fatal. The overall total and fatal
        accident rates for 2018 continued its downward trend finishing with a total accident rate of 4.56 per 100,000
        hours and a fatal accident rate of 0.74 per 100,000 hours.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 1,033 total accidents, of which 166 were fatal (figure 1.1). With
        overall accidents (1,033) trending upward, the increase in flight activity tempered the accident rate (5.48)
        (figures 1.2 and 1.3). Non-commercial fixed-wing showed a slight increase in fatal accidents (166), with the
        fatal accident rate (0.88) remaining relatively flat due to increased flight activity (figures 1.2 and 1.3). For
        the first time in several years, the percentage of pilot-related accidents fell below 70 percent (figure 1.4).
        However, this trend is most likely superficial due to incomplete NTSB reports at the time this Nall Report was
        released.</p>
      <p>Pilot-related accidents consisted of 675 total, of which 89 accidents were fatal. Landing accidents still
        accounted for the largest number (322), but thankfully suffered few fatal accidents (figure 1.11). Loss of
        control (177) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents that
        could not be classified into a meaningful phase of flight, but were reasonably inferred based on preliminary
        data, fell into the other and unclassified accident category. As more NTSB accidents are classified this
        category will shrink, and those accidents will be placed in their respective areas. Takeoff and climb accidents
        (111) declined from the previous year (figure 1.3.1). The largest number of accidents (42) were loss of control
        (figure 1.3.2), followed by stalled or settled on take-off (31). Fuel management (56) rose slightly from the
        previous year (figure 1.4.1), with flight planning accounting for the largest total number of accidents (33)
        (figure 1.4.2). Maneuvering accidents declined in both total (23) and fatal (11) from the previous year (figure
        1.5.1). Wires/structures/terrain had 15 accidents, of which six were fatal (figure 1.5.2). Descent and approach
        accidents increased (58)—setting a 10-year high—while fatal accidents (18) spiked from the previous year marking
        a six-year high (figure 1.6.1). Collisions (21) and stalls/spins (20) tied for total accidents with stalls/spins
        leading in fatal accidents (9) (figure 1.6.2). Weather accidents experienced a decline in both total (23) and
        fatal (21) accidents (figure 1.7.1). VFR into IMC led the cause category with 14 accidents, of which 13 were
        fatal (figure 1.7.2).</p>
      <p>Mechanical rose slightly in total accidents (186) and had a small decrease in fatal accidents (11) from the
        previous year (figure 1.8.1). Powerplant issues (117) continued its lead, followed by gear and brakes (39), and
        fuel systems (16), which accounted for the majority of mechanical accidents (figure 1.8.2).</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing accidents comprised 63 accidents, 10 of which were fatal (figure 2.1). The overall
        accident rates saw a decrease in total accidents (1.75) and fatal accidents (0.28) from the previous year
        (figure 2.3). More than 60 percent of commercial fixed-wing accidents were pilot-related, and 70 percent of all
        fatal accidents within this category were also pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents
        by 17 total accidents and two fatal accidents.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 94 accidents, 17 of which were fatal (figure 3.1). More than 64 percent of all
        accidents were pilot-related, and 82 percent within this category were fatal. Mechanical accounted for 8 percent
        with other/unknown accounting for the remaining 26 percent (figure 3.2). Total accidents increased for the
        second year in a row to 94, and 17 were fatal (figure 3.3). The fatal accident rate, helped mainly by an
        increase in flight activity, declined to 0.58, while the total accident rate decreased to 3.22 (figure 3.4).
        Accidents still awaiting a final cause, not yet assigned, made up the largest category (25) (figure 3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 34 accidents, of which seven were fatal (figure 4.1). The vast majority
        (76 percent) were pilot-related followed by other/unknown (20 percent), and mechanical (3 percent) (figure 4.2).
        The fatal accident rate increased for its second straight year to 0.48, however the total accident rate (2.31)
        decreased from the previous year (figure 4.4). Part 133 had ten accidents (four were fatal), Part 135 had 14
        accidents (two were fatal), and Part 137 had 10 accidents, of which one was fatal (figure 4.5).</p>
    </div>
  </div>
  <div id="reportTextYear-2017">
    <p class="override-intro">The release of the AOPA Air Safety Institute’s 29th <em>Joseph T. Nall Report</em> offers
      several enhancements and brings data into the 21st century, presenting users with near real-time accident analysis
      updated on a rolling 30-day cycle. Using the drop-down menu below, you can view data from 2008 to the current
      year. Next to the drop-down menu are two links, one for the 29th Joseph T. Nall Report and one for the 30th.
      Please note that the NTSB takes approximately two years to issue a probable cause statement, so only preliminary
      data is available for later years.</p>
    <div class="reportText" id="reportText-intro">
      <h2>General</h2>
      <p>The year 2017 saw a decrease in total accidents from 2016—1,204 and 1,227, respectively. The overall total and
        fatal accident rates for 2017 continued its downward trend finishing with a total accident rate of 4.81 per
        100,000 hours and a fatal accident rate of 0.76 per 100,000 hours.</p>
    </div>
    <div class="reportText" id="reportText-intro-ncfw">
      <h2>Non-Commercial Fixed-Wing</h2>
      <p>Non-commercial fixed-wing aircraft had 1,002 total accidents, of which 162 were fatal (figure 1.1). With
        overall accidents trending downward, non-commercial fixed-wing showed a spike in fatal accidents (162) and the
        fatal accident rate (0.90) (figures 1.2 and 1.3). As with successive years, 70 percent of accidents were
        pilot-related with mechanical representing approximately 18 percent (figure 1.4).</p>
      <p>Pilot-related accidents consisted of 709 total accidents, of which 128 were fatal. Landing accidents still
        accounted for the largest number (314), but thankfully suffered few fatal events (3) (figure 1.11). However,
        loss of control (170) continued to dominate as the leading cause of landing accidents (figure 1.1.2). Accidents
        that could not be classified into a meaningful phase of flight, but were reasonably inferred based on
        preliminary data, fell into the other and unclassified accident category. The majority (60) were power loss
        (figure 1.2.1), 12 of which were fatal. Takeoff and climb accidents (113) declined from the previous year’s
        spike (figure 1.3.1). The bulk of accidents were loss of control (51) (figure 1.3.2). Fuel management (53) fell
        sharply for its second year in a row (figure 1.4.1), with systems operation accounting for the largest total
        (28) and fatal (3) number of accidents (figure 1.4.2). Maneuvering accidents declined in total (38) but rose in
        fatal (28) from the previous year (figure 1.5.1). Stall/loss of control and wires/structures/terrain both had 15
        accidents, whereas stall/loss of control saw more fatal (12) than wires/structures/terrain (8) accidents (figure
        1.5.2). Descent and approach accidents increased (44) from the previous year while fatal (11) remained flat
        (figure 1.6.1). Collisions (17) consisted of the majority of accidents with stalls/spins (5) having the highest
        fatal accidents. Weather accidents and maneuvering accidents switched place from last year in terms of
        lethality, with weather accidents overtaking maneuvering accidents (76 and 73 percent, respectively). Weather
        accidents experienced a sharp increase in both total (42) and fatal (32) accidents (figure 1.7.1). VFR into IMC
        dominated the cause category with 28 accidents and 22 were fatal (figure 1.7.2).</p>
      <p>Mechanical saw a slight decrease (177) in total accidents and a slight decrease (13) in fatal accidents (figure
        1.8.1). Powerplant issues (75) continued to lead, followed by gear and brakes (39), and fuel systems (39), which
        accounted for the majority of mechanical accidents (figure 1.8.2)</p>
    </div>
    <div class="reportText" id="reportText-intro-cfw">
      <h2>Commercial Fixed-Wing</h2>
      <p>Commercial fixed-wing comprised 76 accidents, 11 of which were fatal (figure 2.1). The overall rates saw an
        increase in total accidents (2.09) but a decrease in fatal accidents (0.30) (figure 2.3). Roughly 60 percent of
        commercial fixed-wing accidents were pilot-related, and 72 percent of all fatal accidents were also
        pilot-related (figure 2.4). Part 137 surpassed Part 135 accidents by four total accidents and one fatal
        accident.</p>
    </div>
    <div class="reportText" id="reportText-intro-nch">
      <h2>Non-Commercial Helicopter</h2>
      <p>Non-commercial helicopter had 88 accidents, 13 of which were fatal (figure 3.1). More than 80 percent of all
        accidents were pilot-related, fatal accidents were only pilot-related. Mechanical accounted for 13 percent with
        other/unknown accounting for the remaining percentage (figure 3.2). Total accidents increased for the first time
        in four years to 88 following an increase in fatal accidents to 13 (figure 3.3). The fatal accident rate
        remained flat (0.70), while the total accident rate increased to 4.72 (figure 3.4). Rotorcraft aerodynamics was
        the largest cause of accidents (29) and tied with maneuvering for having the most fatal accidents (4) (figure
        3.9).</p>
    </div>
    <div class="reportText" id="reportText-intro-ch">
      <h2>Commercial Helicopter</h2>
      <p>Commercial helicopter had a total of 38 accidents, five being fatal (figure 4.1). The majority (73 percent)
        were pilot-related followed by other/unknown (15 percent), and mechanical (10 percent) (figure 4.2). The fatal
        accident rate increased (0.34) along with the total accident rate (2.61) from the previous year (figure 4.4).
        Part 133 had four accidents (two were fatal), Part 135 had 12 accidents (three were fatal), and Part 137 had 22
        accidents, of which zero were fatal (figure 4.5).</p>
    </div>
  </div>