---
import Layout from '../layouts/Layout.astro';
import SitemapGrid from '../components/SitemapGrid.astro';
---



<Layout>
  <p class="my-12">A persentation is going to live here, but for now here are the two links that'll get you to the important stuff:</p>
  <SitemapGrid />
</Layout>
