---
import Layout from '../layouts/Layout.astro';
import SitemapGrid from '../components/SitemapGrid.astro';
---



<Layout>
  <div class="p-6 text-center">
    <p class="my-12">A presentation is going to live here, until then these two links will get you to the work:</p>
    <SitemapGrid />
    <p class="mb-3"><b>TL;DR of the presentation is:</b><br> A typographic study on making better use of our vast wealth of existing content.</p>
    <p><i>* it's worth checking on desktop too</i></p>
  </div>
</Layout>
