---
import Layout from '../layouts/Layout.astro';
import SitemapGrid from '../components/SitemapGrid.astro';
---



<Layout>
  <div class="p-6">
    <p class="my-12">A presentation is going to live here, but for now these two links will get you the to the work:</p>
    <SitemapGrid />
  </div>
</Layout>
