---
import { resolveProseStyle } from '../../lib/resolveProseStyle.js';
import Layout from '../../layouts/Layout.astro';
import EditorialMasthead from '../../components/EditorialMasthead.astro';
import EditorialHero from '../../components/EditorialHero.astro';
import BlogFeed from '../../components/Blogfeed.astro';
import RightRail from '../../components/RightRail.astro';
import MostRead from '../../components/MostRead.astro';
import FeaturedStories from '../../components/FeaturedStories.astro';

const proseStyle = resolveProseStyle(null, { forcedProseStyle: 'prose-editorial' });

---

<Layout proseStyle={proseStyle} section="editorial">
  <EditorialMasthead />
  <EditorialHero />

  <div class="max-w-7xl mx-auto px-4 py-8 flex flex-col lg:flex-row gap-8">
    <div class="flex-1">
      <h3 class="font-body tracking-widest uppercase mb-4 pl-1 dark:text-white">RECENT NEWS</h3>
      <BlogFeed />
    </div>
    <RightRail>
        <MostRead />
        <img src="/images/ad-300x250.jpg" alt="Logo" class="w-full" />
        <FeaturedStories />
    </RightRail>
  </div>
</Layout>
