---
const { proseStyle = 'prose-editorial' } = Astro.props;

import WeatherMobile from './WeatherMobile.astro';

---
<section>
  <section class={`max-w-7xl mx-auto mt-8 px-4 grid grid-cols-1 md:grid-cols-12 gap-6 items-center border-t border-b border-gray-350 dark:text-amber-50 ${proseStyle ?? ''}`}>
      <article class="md:col-span-4 text-center text-gray-600 dark:text-amber-50 order-3 lg:order-1">
          <h2 class="font-serifItalic text-2xl">Your Freedom to Fly</h2>
          <p class="font-serifItalic text-lg mt-1  mb-8">Aviation News & Current Affairs Since 1939</p>

      </article>
      <article class="md:col-span-4 p-5 pb-0 text-center order-2 lg:order-2">
          <img src="/images/ui/aopa-logo.svg" alt="Logo" class="block dark:hidden max-w-[150px] md:max-w-none m-auto" />
          <img src="/images/ui/aopa-logo-darkmode.svg" alt="Logo" class="px-10 hidden dark:block w-full" />
      </article>
      <article class="md:col-span-4 text-center order-1 lg:order-3 hidden md:block">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod laoreet dolore.</p>
          <a href=""><b>Join Today!</b></a>
      </article>
  </section>  
  <article class="border-b border-gray-350 p-3">
    <ul class="flex justify-center items-center flex-wrap">
      <li>
        <b class="font-serif">Current Conditions &nbsp</b>
        <span class="rounded bg-slate-400 text-white py-1 px-3 mr-2">10:00 FDK</span>
      </li>
      <li> Temp: 78° | &nbsp</li>
      <li> Humidity: 78° | &nbsp</li>
      <li> Wind: 2 knots | &nbsp</li>
      <li> Pressure: 29.83 </li>
      
    </ul>
  </article>
</section>
