    <article class="md:col-span-4 text-center order-1 lg:order-3 block lg:hidden">
        <p class="font-bold">Current Conditions</p>
        <p class="font-subheading text-xl text-aopa-grey dark:text-amber-50">July 21st 2024 | 10:03 EST | <span class="rounded bg-aopa-dkblue text-white py-1 px-3">FDK</span></p>
        <ul class="flex gap-4 items-center justify-center pb-5">
            <li>  
                <img src="/images/mh-icon-1.png" alt="Logo" class="px-10 block dark:hidden min-w-[140px]" />
                <img src="/images/mh-icon-1-white.png" alt="Logo" class="px-10 hidden dark:block min-w-[140px]" />    

                <p class="font-subheading leading-none text-xl text-aopa-grey dark:text-amber-50">Winds: From WSW
                <br> 240° at 2 knots</p>
            </li>
            <li class="">        
                <img src="/images/mh-icon-2.png" alt="Logo" class="px-10 block dark:hidden min-w-[140px]" />
                <img src="/images/mh-icon-2-white.png" alt="Logo" class="px-10 hidden dark:block min-w-[140px]" />  
                <p class="font-subheading leading-none text-xl text-aopa-grey dark:text-amber-50">Pressure: 29.86
                <br> Rising slowly</p>
            </li>
            <li>        
                <p class="font-subheading leading-none text-xl cursor-not-allowed">View Full Report</p>
            </li>
        </ul>
    </article>