
---
import { fetchPosts } from '../lib/fetchPosts.js';
const posts = await fetchPosts();
---

<h1>Latest Posts</h1>
<ul>
    {posts.map((post) => (
    <li>
        <h2 set:html={post.title.rendered}></h2>
        <p set:html={post.excerpt.rendered}></p>
    </li>
    ))}
</ul>