---
import { fetchPosts } from '../lib/fetchPosts.js';
const posts = await fetchPosts();
---

<ul>
  {posts.map(post => (
    <li>
      <img src={post.featuredImage?.node?.mediaDetails?.sizes?.find(size => size.name === "thumbnail")?.sourceUrl ?? post.featuredImage?.node?.sourceUrl} />
      <h2>{post.title}</h2>
    </li>
  ))}
</ul>
