---
const { proseStyle = 'prose-editorial' } = Astro.props;
---

<section class={`max-w-7xl mx-auto px-4 grid grid-cols-1 lg:grid-cols-12 gap-6 items-center border-t border-b border-gray-350 ${proseStyle ?? ''}`}>
    <article class="lg:col-span-4 text-center">
        <h2 class="font-serifItalic text-2xl">Your Freedom to Fly</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod laoreet dolore.</p>
        <a href=""><b>Join Today!</b></a>
    </article>
    <article class="lg:col-span-4 p-5">
        <img src="/images/ui/aopa-logo.svg" alt="Logo" class="px-10" />
        <p class="font-serifItalic text-lg">Aviation News & Current Affairs Since 1939</p>
    </article>
    <article class="lg:col-span-4 text-center">
        <p>Current Conditions</p>
        <p class="font-subheading text-xl">July 21st 2024 | 10:03 EST | FDK</p>
        <ul class="flex gap-4 items-center">
            <li>        
                <img src="/images/mh-icon-1.png" alt="Logo" class="h-28 w-auto" />
            </li>
            <li>        
                <img src="/images/mh-icon-2.png" alt="Logo" class="h-28 w-auto" />
            </li>
            <li>        
                <img src="/images/mh-icon-3.png" alt="Logo" class="h-28 w-auto" />
            </li>
        </ul>
    </article>
</section>

