---
const { proseStyle = 'prose-editorial' } = Astro.props;
---

<section class={`max-w-7xl mx-auto mt-4 px-4 grid grid-cols-1 lg:grid-cols-12 gap-6 items-center border-t border-b border-gray-350 ${proseStyle ?? ''}`}>
    <article class="lg:col-span-4 text-center text-gray-600 dark:text-gray-400">
        <h2 class="font-serifItalic text-2xl">Your Freedom to Fly</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod laoreet dolore.</p>
        <a href=""><b>Join Today!</b></a>
    </article>
    <article class="lg:col-span-4 p-5">
        <img src="/images/ui/aopa-logo.svg" alt="Logo" class="px-10 block dark:hidden" />
        <img src="/images/ui/aopa-logo-darkmode.svg" alt="Logo" class="px-10 hidden dark:block" />
        <p class="font-serifItalic text-lg">Aviation News & Current Affairs Since 1939</p>
    </article>
    <article class="lg:col-span-4 text-center">
        <p class="font-bold">Current Conditions</p>
        <p class="font-subheading text-xl text-aopa-grey">July 21st 2024 | 10:03 EST | <span class="rounded bg-aopa-dkblue text-white py-1 px-3">FDK</span></p>
        <ul class="flex gap-4 items-center justify-center pb-5">
            <li>        
                <img src="/images/mh-icon-1.png" alt="Logo" class="h-20 w-auto" />
                <p class="font-subheading leading-none text-xl text-aopa-grey">Winds: From WSW
                <br> 240° at 2 knots</p>
            </li>
            <li>        
                <img src="/images/mh-icon-2.png" alt="Logo" class="h-20 w-auto" />
                <p class="font-subheading leading-none text-xl text-aopa-grey">Pressure: 29.86
                <br> Rising slowly</p>
            </li>
            <li>        
                <p class="font-subheading leading-none text-xl">View Full Report</p>
            </li>
        </ul>
    </article>
</section>

