---
import SitemapCard from './SitemapCard.astro';

const sections = [
  {
    title: "News",
    routes: [
      { name: "News Home", route: "/news/home", palette: "Grey & Dark Blue", fonts: "Mercury, Gotham" },
    ],
  },
  {
    title: "Magazine",
    routes: [
      { name: "Magazines", route: "/magazine/home", palette: "Variable", fonts: "Knockout 94 & 28" },
    ],
  },
    {
    title: "Instructional",
    routes: [
      { name: "instruction", route: "/instruction/home", palette: "Cyan & Dark Blue", fonts: "Gotham" },
    ],
  },
  
  //{
  //title: "NALL",
  //routes: [
  //  { name: "Nall", route: "/nall" },
  //],
//},
];
---

{sections.map(section => (
<section class="mb-16">
  <div class="">
    <div class="max-w-sm m-auto">
      {section.routes.map(r => (
        <SitemapCard name={r.name} route={r.route} palette={r.palette} fonts={r.fonts} />
      ))}
    </div>
  </div>
</section>


))}

