---
import { fetchPosts } from '../../lib/fetchPosts.js';
const posts = await fetchPosts({ tag: 'turbine' });

const heroStory = posts.find(
  post => post.magazinePresentationOptions?.presentationslots?.includes('hero')
);

console.log({
  title: heroStory.title,
  line1: heroStory.heroTitleLine1,
  line2: heroStory.heroTitleLine2
});

const teaserStories = posts.filter(
  post => post.magazinePresentationOptions?.presentationslots?.includes('teaser')
);

const line1 = heroStory.magazinePresentationOptions?.heroTitleLine1 ?? heroStory.title;
const line2 = heroStory.magazinePresentationOptions?.heroTitleLine2 ?? '';



---

<!-- Top Text -->
<div class="flex justify-between absolute top-0 right-0 text-white w-full p-6">
  <!-- Magazine title in top left -->
  <span class="opacity-70 ">
    <h1 class="text-left relative left-0 text-5xl uppercase text-[#f4c04d] leading-none">Pilot</h1>
    <h2 class="font-body text-xl uppercase tracking-widest">Turbine <br> Edition</h2>
  </span>
  <!-- Date badge in top right -->
  <div class="flex">
    <div class="text-right">
        <span class="text-sm block -mb-2">2025</span>
        <span class="text-6xl font-subheading opacity-75 leading-none">APR</span>
    </div>
    
    <div class="flex items-start gap-2">
      <span class="border-4 border-l border-[#e0005b] h-[4rem] self-center ml-2 mr-1"></span>
      <div class="text-xs leading-tight -ml-1">
        <div class="text-sm -mb-2">No.</div>
        <div class="text-6xl font-subheading opacity-75 leading-none">89</div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile stacked overlay -->
<div class="absolute inset-x-0 bottom-0 p-4 text-white backdrop-blur-sm z-10 bg-[rgba(0,71,140,0.7)] md:hidden">
  <h1 class="text-6xl font-extrabold uppercase font-knockout leading-tight tracking-tight">
    {line1}
  </h1>
  <h2 class="relative text-5xl font-medium uppercase font-subheading">
    <span class="absolute left-[11rem] w-[9rem] h-1 bg-[#e0005b] -top-1"></span>
    <span class="absolute left-[11rem] w-[9rem] h-1 bg-[#e0005b] top-1"></span>
    <span class="relative -top-3">{line2}</span>
  </h2>

  <ul class="mt-4 space-y-2 ">
    {teaserStories.map(story => (
      <li class="font-subheading text-2xl uppercase hover:opacity-75">
        <a href={`/magazine-post/${story.slug}`}>{story.title}</a>
      </li>
    ))}
  </ul>
</div>