---
import "../styles/global.css";
import MainNav from '../components/utility/MainNav.tsx';

const { proseStyle = '' } = Astro.props;
const isEditorial = proseStyle === 'prose-editorial';

const { section, wrapperClass, magazineTitle = "" } = Astro.props;
// e.g., '/editorial/article-slug' → 'editorial'
---
<!doctype html>
<html lang="en" class={`min-h-screen`}>
	<head>
		<!--START preload fonts to prevent FOUT -->
		<link rel="preload" href="/fonts/gothambold-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/gothambolditalic-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/gothambook-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/gothambookitalic-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Knockout-HTF28-JuniorFeatherwt.otf" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Knockout-HTF94-UltmtSumo.otf" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Mercury Display Bold.otf" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Mercury-TextG1Roman.otf" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/Mercury-TextG1Italic.otf" as="font" type="font/woff2" crossorigin="anonymous">
		<!--END preload fonts to prevent FOUT -->

		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AOPA - astro test</title>
	</head>
	<body class={`"flex flex-col dark:bg-gray-900 min-h-screen text-black dark:text-white ${wrapperClass}"`}>
    <div class="grow flex flex-col">
      <div class="sticky top-0 z-50">
        <MainNav section={section} magazineTitle={magazineTitle} client:load />
      </div>
    <main class="flex-grow mx-auto w-full px-0 md:px-4">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
  		flex-direction: column;
	}
</style>
