---
import "../styles/global.css";
import MainNav from '../components/utility/MainNav.tsx';
import Tuner from '../components/utility/Tuner.astro';

const { proseStyle = '' } = Astro.props;
const isEditorial = proseStyle === 'prose-editorial';

const { section, wrapperClass, magazineTitle = "" } = Astro.props;

// e.g., '/editorial/article-slug' → 'editorial'
---
<!doctype html>
<html lang="en" class={`min-h-screen`}>
	<head>
		<!--START preload fonts to prevent FOUT -->
		<link rel="preload" href="/fonts/gotham/gothambold-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/gotham/gothambolditalic-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/gotham/gothambook-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/gotham/gothambookitalic-webfont.woff" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/fonts/knockout/Knockout-HTF28-JuniorFeatherwt.otf" as="font" type="otf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/knockout/Knockout-HTF94-UltmtSumo.otf" as="font" type="otf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/mercury/Mercury Display Bold.otf" as="font" type="otf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/mercury/Mercury-TextG1Roman.otf" as="font" type="otf" crossorigin="anonymous">
		<link rel="preload" href="/fonts/mercury/Mercury-TextG1Italic.otf" as="font" type="otf" crossorigin="anonymous">
		<!--END preload fonts to prevent FOUT -->

    {import.meta.env.DEV && (
      <style is:inline>
        astro-dev-toolbar,[data-astro-dev-toolbar]{display:none!important}
      </style>
    )}

        
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AOPA - astro test</title>
	</head>
  <body class={`font-body flex flex-col dark:bg-gray-900 min-h-screen text-black dark:text-white ${wrapperClass}`}>
    <div class="grow flex flex-col">
      <div class="sticky top-0 z-50">
        <MainNav section={section} magazineTitle={magazineTitle} client:load />
      </div>
    <main class="flex-grow mx-auto w-full px-0 md:px-4">
			<slot />
		</main>
    <Tuner />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
  		flex-direction: column;
	}
</style>
