---
import "../styles/global.css";
import MainNav from '../components/MainNav.tsx';
const { proseStyle = '' } = Astro.props;
const isEditorial = proseStyle === 'prose-editorial';

const { section } = Astro.props;
const { title, children, forceDark = false } = Astro.props;
// e.g., '/editorial/article-slug' → 'editorial'
---
<!doctype html>
<html lang="en" class={forceDark ? 'dark' : ''}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AOPA - astro test</title>
	</head>
	<body class="flex flex-col bg-white dark:bg-gray-900 text-black dark:text-white">
		<div class="sticky top-0 z-50">
			<MainNav section={section} client:load />
		</div>
		<main class="flex-grow max-w-7xl mx-auto px-4 w-full">
			<slot />
		</main>
	</body>

</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
  		flex-direction: column;
	}
</style>
